<div class="container">
  
  <mat-card>

    <mat-card-content>

      <h1> Questão - cód.: #123 </h1>
      <mat-divider></mat-divider>
      <mat-list>
        <mat-list-item class="horizontal-mat-list-item">
          <span matListItemTitle>Tipo:</span>
          <span>Múltipla Escolha</span>
        </mat-list-item>
        <mat-list-item class="horizontal-mat-list-item">
          <span matListItemTitle>Disciplina:</span>
          <span>Informática</span>
        </mat-list-item>
        <mat-list-item class="horizontal-mat-list-item">
          <span matListItemTitle>Assunto:</span>
          <span>Arquitetura de Software</span>
        </mat-list-item>
        <mat-list-item class="horizontal-mat-list-item">
          <span matListItemTitle>Ano:</span>
          <span>2023</span>
        </mat-list-item>
        <mat-list-item class="horizontal-mat-list-item">
          <span matListItemTitle>Instituição:</span>
          <span>PUC-RIO</span>
        </mat-list-item>
        <mat-list-item class="horizontal-mat-list-item">
          <span matListItemTitle>Evento:</span>
          <span>Concurso XYZ</span>
        </mat-list-item>
      </mat-list>
      
      <mat-list>
        <mat-list-item>
          <span matListItemTitle>Enunciado:</span>
          <span>Múltipla Escolha</span>
        </mat-list-item>
      </mat-list>
      <mat-divider></mat-divider>
      <mat-list>
        <div mat-subheader>Alternativas</div>
        <mat-list-item>
          <mat-icon matListItemIcon>check_box</mat-icon>
          <div matListItemTitle>Descricao da alternativa um...</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListItemIcon>check_box_outline_blank</mat-icon>
          <div matListItemTitle>Descricao da alternativa um...</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListItemIcon>check_box_outline_blank</mat-icon>
          <div matListItemTitle>Descricao da alternativa um...</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListItemIcon>check_box_outline_blank</mat-icon>
          <div matListItemTitle>Descricao da alternativa um...</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListItemIcon>check_box_outline_blank</mat-icon>
          <div matListItemTitle>Descricao da alternativa um...</div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>


</div>