<div class="container">
  <div class="mat-elevation-z8"> 
  <mat-expansion-panel [expanded] = "true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Filtro
          </mat-panel-title>
        </mat-expansion-panel-header>
    
        <mat-form-field>
          <mat-label>Tipo</mat-label>
          <mat-select [(ngModel)]="filtro.tipo">
            <mat-option>[Todos]</mat-option>
            <mat-option *ngFor="let tipo of tipos" [value]="tipo.descricao">
              {{tipo.descricao}}
            </mat-option>
          </mat-select>
        </mat-form-field>
    
        <mat-form-field>
          <mat-label>Disciplina</mat-label>
          <mat-select [(ngModel)]="filtro.disciplina">
            <mat-option>[Todos]</mat-option>
            <mat-option *ngFor="let disciplina of disciplinas" [value]="disciplina.descricao">
              {{disciplina.descricao}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Origem</mat-label>
          <mat-select [(ngModel)]="filtro.origem">
            <mat-option>[Todas]</mat-option>
            <mat-option *ngFor="let origem of origens" [value]="origem.descricao">
              {{origem.descricao}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Ano</mat-label>
          <input matInput type="number" min="2000" [(ngModel)]="filtro.ano">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Instituicao</mat-label>
          <input matInput [(ngModel)]="filtro.instituicao">
        </mat-form-field>
        

        <mat-action-row>
          <button mat-flat-button (click)="limpar()"><mat-icon>filter_alt_off</mat-icon> Limpar</button>
          <button mat-raised-button color="primary" (click)="pesquisar()"><mat-icon>search</mat-icon> Pesquisar</button>
        </mat-action-row>
      </mat-expansion-panel>
</div>  
</div>
