<div class="actions">

    <button mat-flat-button color="primary" [hidden]="!showListagem" (click)="irCadastro()">
      <mat-icon>add</mat-icon>
      Adicionar Questão
    </button>
    <button mat-flat-button color="primary" [hidden]="showListagem" (click)="irListagem()">
      <mat-icon>list</mat-icon>
      Ir para listagem
    </button>
 
 </div>

<app-filtro [hidden]="!showFiltro"></app-filtro>

<app-listagem [hidden]="!showListagem" (irDetalhesEvent)="irDetalhes($event)" (excluirEvent)="excluirQuestao($event)"></app-listagem>

<app-cadastro [hidden]="!showCadastro"></app-cadastro>

<app-detalhes [hidden]="!showDetalhes" [codigo]="codigoQuestaoSelecionada" ></app-detalhes>
