<div class="container">
    <div class="mat-elevation-z8">
        <mat-card>

            <mat-card-header>
                <mat-card-title>Seja bem-vindo ao APP Base de Questões</mat-card-title>
            </mat-card-header>
            <mat-card-content>

                <p>Essa aplicação contém os MVPs (Produtos Minímo Viáveis) desenvolvimentos pelo aluno <b> Dirceu
                        Sobrinho</b>
                    do curso de Pós-Graduação em Engenharia de Software da PUC-RIO.
                </p>
                <br />
                <h2>MVP 1 - Disciplina: Desenvolvimento Full Stack Básico</h2>
                <br />
                <h3>Requisitos:</h3>
                <mat-list>
                    <mat-list-item>(Backend) API implementada em Python e Flask com pelo menos 3 rotas</mat-list-item>
                    <mat-list-item>(Backend) Fazer o uso de um banco de dados SQLite, PostgreSQL ou MySQL com pelo menos
                        uma tabela</mat-list-item>
                    <mat-list-item>(Backend) Documentação da API em Swagger</mat-list-item>
                    <mat-list-item>(Frontend) Desenvolvimento de uma SPA (Single Page Application)</mat-list-item>
                </mat-list>

                <h3>Descrição do MVP:</h3>

                <mat-list>
                    <mat-list-item><b>Hipotese a ser validada:</b> API com questões de vestibulares e de concursos seria
                        útil para instituiçoes de ensino e cursos prepatórios</mat-list-item>
                    <mat-list-item><b>Objetivo:</b> Disponibilizar para insitutuições de ensinos uma grande quantidade
                        de questões classificadas por disciplinas e assuntos para que possam ser utilizadas na
                        construção de exercícios, simulados e avaliações.</mat-list-item>
                    <mat-list-item><b>Problema a ser resolvido:</b> Evitar que as insitituições precisem cadastrar e
                        manter uma base de questões</mat-list-item>
                    <mat-list-item><b>Solução></b> foi desenvolvida uma API e uma aplicação web para cadastro, consulta
                        e exclusão de questões</mat-list-item>
                </mat-list>




                <br />
                <h2>MVP 2 - Disciplina: Qualidade de Software, Segurança e Sistemas Inteligentes </h2>
                <br />
                <h3>Requisitos:</h3>
                <mat-list>
                    <mat-list-item>(Notebook de Machine Learning) Processo de criação do modelo</mat-list-item>
                    <mat-list-item>(Notebook de Machine Learning) Análise de resultados do modelo:</mat-list-item>
                    <mat-list-item>(Aplicação Full Stack) Integração do modelo de machine learning com a aplicação full stack</mat-list-item>
                    <mat-list-item>(Aplicação Full Stack)  Teste automatizado do modelo no back-end da aplicação</mat-list-item>
                </mat-list>

                <h3>Descrição do MVP:</h3>

                <mat-list>
                    <mat-list-item><b>Hipotese a ser validada:</b> Se é possível classificar a disciplina de uma questão a partir de seu enunciado</mat-list-item>
                    <mat-list-item><b>Objetivo:</b> Disciplina de uma questão seja obtida automaticamente com um alto grau de precisão</mat-list-item>
                    <mat-list-item><b>Problema a ser resolvido:</b> Evitar o esforço que um usuário humano precise categorizar uma questão</mat-list-item>
                    <mat-list-item><b>Solução:</b> foi desenvolvimento um modelo utilizando machine learning e intregado a funcionalidade de cadastro de questões do APP Base Questões para determinar a disciplina a partir de seu enunciado.</mat-list-item>
                </mat-list>


                <br />
                <h3>Backlog do APP</h3>
                <mat-list role="list">
                    <mat-list-item role="listitem">Automatização do Processo de cadastro de questões através do upload de provas e utilização de ferramentas OCR</mat-list-item>
                    <mat-list-item role="listitem">Incluir mais disciplinas no modelo de predição com machine learning</mat-list-item>
                    <mat-list-item role="listitem">Incluir funcionalidade de predição dos assuntos associados as questões</mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>